.text-align{
text-align: center;
text-decoration: wavy;
}
.container {
position: absolute;
text-align: left;
 color: blanchedalmond;
}
.center{
 position: absolute;
font-size: auto;
top: 100px;
left: 600px;
right: 20px;

}
b{
    color: gold
}
img{
    background-repeat: no-repeat;
    background-position: fixed;
}